{
"default_delivery_name" : "Lisa Doe",
"default_delivery_number" : "87654321",
"default_delivery_email" : "",
"default_delivery_address" : "2 Orchard Turn, Singapore 238801",
"default_delivery_pincode" : "238801",
"default_delivery_remark" : ""
}
